<div class="container space-2 space-md-3">
  <!-- Title -->
  <div class="w-md-80 w-lg-60 text-center mx-md-auto mb-9">
    <h2 class="h3 font-weight-medium">Popular companies to work for</h2>
    <p>Find the most qualified people in the most unexpected places. Information for applicants to consider when applying for local positions.</p>
  </div>
  <!-- End Title -->

  <!-- Jobs -->
  <div class="card-deck card-lg-gutters-2 d-block d-lg-flex">
    <!-- Item -->
    <div class="card mb-3">
      <div class="card-body p-4">
        <!-- Details -->
        <div class="media">
          <div class="u-avatar mr-3">
            <img class="img-fluid" src="../../assets/img/160x160/img6.jpg" alt="Image Description">
          </div>

          <div class="media-body">
            <!-- Header -->
            <div class="mb-4">
              <h3 class="h6 mb-0">
                <a href="company-profile.html">Dropbox Inc.</a>
              </h3>

              <!-- Review -->
              <a class="d-inline-block small" href="#">
                    <span class="text-warning">
                      <span class="fas fa-star"></span>
                      <span class="fas fa-star"></span>
                      <span class="fas fa-star"></span>
                      <span class="far fa-star"></span>
                      <span class="far fa-star"></span>
                    </span>
                <span class="text-dark font-weight-semi-bold ml-2">3.74</span>
                <span class="text-muted">(567 reviews)</span>
              </a>
              <!-- End Review -->
            </div>
            <!-- End Header -->

            <!-- Additional Info -->
            <div class="d-flex align-items-center">
              <div class="u-ver-divider pr-3 mr-3">
                <a class="font-size-1 text-secondary font-weight-medium" href="#">Salaries</a>
              </div>
              <a class="font-size-1 font-weight-medium" href="#">Open jobs</a>
            </div>
            <!-- End Additional Info -->
          </div>
        </div>
        <!-- End Details -->
      </div>
    </div>
    <!-- End Item -->

    <!-- Item -->
    <div class="card mb-3">
      <div class="card-body p-4">
        <!-- Details -->
        <div class="media">
          <div class="u-avatar mr-3">
            <img class="img-fluid" src="../../assets/img/160x160/img3.jpg" alt="Image Description">
          </div>

          <div class="media-body">
            <!-- Header -->
            <div class="mb-4">
              <h3 class="h6 mb-0">
                <a href="company-profile.html">Slack Inc.</a>
              </h3>

              <!-- Review -->
              <a class="d-inline-block small" href="#">
                    <span class="text-warning">
                      <span class="fas fa-star"></span>
                      <span class="fas fa-star"></span>
                      <span class="fas fa-star"></span>
                      <span class="fas fa-star"></span>
                      <span class="fas fa-star"></span>
                    </span>
                <span class="text-dark font-weight-semi-bold ml-2">4.91</span>
                <span class="text-muted">(12k+ reviews)</span>
              </a>
              <!-- End Review -->
            </div>
            <!-- End Header -->

            <!-- Additional Info -->
            <div class="d-flex align-items-center">
              <div class="u-ver-divider pr-3 mr-3">
                <a class="font-size-1 text-secondary font-weight-medium" href="#">Salaries</a>
              </div>
              <a class="font-size-1 font-weight-medium" href="#">Open jobs</a>
            </div>
            <!-- End Additional Info -->
          </div>
        </div>
        <!-- End Details -->
      </div>
    </div>
    <!-- End Item -->

    <!-- Item -->
    <div class="card mb-3">
      <div class="card-body p-4">
        <!-- Details -->
        <div class="media">
          <div class="u-avatar mr-3">
            <img class="img-fluid" src="../../assets/img/160x160/img10.jpg" alt="Image Description">
          </div>

          <div class="media-body">
            <!-- Header -->
            <div class="mb-4">
              <h3 class="h6 mb-0">
                <a href="company-profile.html">Airbnb Inc.</a>
              </h3>

              <!-- Review -->
              <a class="d-inline-block small" href="#">
                    <span class="text-warning">
                      <span class="fas fa-star"></span>
                      <span class="fas fa-star"></span>
                      <span class="fas fa-star"></span>
                      <span class="fas fa-star"></span>
                      <span class="fas fa-star-half-alt"></span>
                    </span>
                <span class="text-dark font-weight-semi-bold ml-2">4.5</span>
                <span class="text-muted">(2k+ reviews)</span>
              </a>
              <!-- End Review -->
            </div>
            <!-- End Header -->

            <!-- Additional Info -->
            <div class="d-flex align-items-center">
              <div class="u-ver-divider pr-3 mr-3">
                <a class="font-size-1 text-secondary font-weight-medium" href="#">Salaries</a>
              </div>
              <a class="font-size-1 font-weight-medium" href="#">Open jobs</a>
            </div>
            <!-- End Additional Info -->
          </div>
        </div>
        <!-- End Details -->
      </div>
    </div>
    <!-- End Item -->
  </div>
  <!-- End Jobs -->

  <!-- Jobs -->
  <div class="card-deck card-lg-gutters-2 d-block d-lg-flex">
    <!-- Item -->
    <div class="card mb-3">
      <div class="card-body p-4">
        <!-- Details -->
        <div class="media">
          <div class="u-avatar mr-3">
            <img class="img-fluid" src="../../assets/img/160x160/img8.jpg" alt="Image Description">
          </div>

          <div class="media-body">
            <!-- Header -->
            <div class="mb-4">
              <h3 class="h6 mb-0">
                <a href="company-profile.html">PayPal</a>
              </h3>

              <!-- Review -->
              <a class="d-inline-block small" href="#">
                    <span class="text-warning">
                      <span class="fas fa-star"></span>
                      <span class="fas fa-star"></span>
                      <span class="fas fa-star"></span>
                      <span class="fas fa-star"></span>
                      <span class="fas fa-star"></span>
                    </span>
                <span class="text-dark font-weight-semi-bold ml-2">5</span>
                <span class="text-muted">(976 reviews)</span>
              </a>
              <!-- End Review -->
            </div>
            <!-- End Header -->

            <!-- Additional Info -->
            <div class="d-flex align-items-center">
              <div class="u-ver-divider pr-3 mr-3">
                <a class="font-size-1 text-secondary font-weight-medium" href="#">Salaries</a>
              </div>
              <a class="font-size-1 font-weight-medium" href="#">Open jobs</a>
            </div>
            <!-- End Additional Info -->
          </div>
        </div>
        <!-- End Details -->
      </div>
    </div>
    <!-- End Item -->

    <!-- Item -->
    <div class="card mb-3">
      <div class="card-body p-4">
        <!-- Details -->
        <div class="media">
          <div class="u-avatar mr-3">
            <img class="img-fluid" src="../../assets/img/160x160/img12.png" alt="Image Description">
          </div>

          <div class="media-body">
            <!-- Header -->
            <div class="mb-4">
              <h3 class="h6 mb-0">
                <a href="company-profile.html">Atlassian.</a>
              </h3>

              <!-- Review -->
              <a class="d-inline-block small" href="#">
                    <span class="text-warning">
                      <span class="fas fa-star"></span>
                      <span class="fas fa-star"></span>
                      <span class="fas fa-star"></span>
                      <span class="far fa-star"></span>
                      <span class="far fa-star"></span>
                    </span>
                <span class="text-dark font-weight-semi-bold ml-2">3.25</span>
                <span class="text-muted">(5k+ reviews)</span>
              </a>
              <!-- End Review -->
            </div>
            <!-- End Header -->

            <!-- Additional Info -->
            <div class="d-flex align-items-center">
              <div class="u-ver-divider pr-3 mr-3">
                <a class="font-size-1 text-secondary font-weight-medium" href="#">Salaries</a>
              </div>
              <a class="font-size-1 font-weight-medium" href="#">Open jobs</a>
            </div>
            <!-- End Additional Info -->
          </div>
        </div>
        <!-- End Details -->
      </div>
    </div>
    <!-- End Item -->

    <!-- Item -->
    <div class="card mb-3">
      <div class="card-body p-4">
        <!-- Details -->
        <div class="media">
          <div class="u-avatar mr-3">
            <img class="img-fluid" src="../../assets/img/160x160/img15.png" alt="Image Description">
          </div>

          <div class="media-body">
            <!-- Header -->
            <div class="mb-4">
              <h3 class="h6 mb-0">
                <a href="company-profile.html">Spotify Inc.</a>
              </h3>

              <!-- Review -->
              <a class="d-inline-block small" href="#">
                    <span class="text-warning">
                      <span class="fas fa-star"></span>
                      <span class="fas fa-star"></span>
                      <span class="fas fa-star"></span>
                      <span class="fas fa-star"></span>
                      <span class="far fa-star"></span>
                    </span>
                <span class="text-dark font-weight-semi-bold ml-2">4.0</span>
                <span class="text-muted">(34k+ reviews)</span>
              </a>
              <!-- End Review -->
            </div>
            <!-- End Header -->

            <!-- Additional Info -->
            <div class="d-flex align-items-center">
              <div class="u-ver-divider pr-3 mr-3">
                <a class="font-size-1 text-secondary font-weight-medium" href="#">Salaries</a>
              </div>
              <a class="font-size-1 font-weight-medium" href="#">Open jobs</a>
            </div>
            <!-- End Additional Info -->
          </div>
        </div>
        <!-- End Details -->
      </div>
    </div>
    <!-- End Item -->
  </div>
  <!-- End Jobs -->

  <!-- Jobs -->
  <div class="card-deck card-lg-gutters-2 d-block d-lg-flex">
    <!-- Item -->
    <div class="card mb-3 mb-lg-0">
      <div class="card-body p-4">
        <!-- Details -->
        <div class="media">
          <div class="u-avatar mr-3">
            <img class="img-fluid" src="../../assets/img/160x160/img20.png" alt="Image Description">
          </div>

          <div class="media-body">
            <!-- Header -->
            <div class="mb-4">
              <h3 class="h6 mb-0">
                <a href="company-profile.html">Facebook</a>
              </h3>

              <!-- Review -->
              <a class="d-inline-block small" href="#">
                    <span class="text-warning">
                      <span class="fas fa-star"></span>
                      <span class="fas fa-star"></span>
                      <span class="fas fa-star"></span>
                      <span class="fas fa-star"></span>
                      <span class="fas fa-star-half-alt"></span>
                    </span>
                <span class="text-dark font-weight-semi-bold ml-2">4.4</span>
                <span class="text-muted">(12 reviews)</span>
              </a>
              <!-- End Review -->
            </div>
            <!-- End Header -->

            <!-- Additional Info -->
            <div class="d-flex align-items-center">
              <div class="u-ver-divider pr-3 mr-3">
                <a class="font-size-1 text-secondary font-weight-medium" href="#">Salaries</a>
              </div>
              <a class="font-size-1 font-weight-medium" href="#">Open jobs</a>
            </div>
            <!-- End Additional Info -->
          </div>
        </div>
        <!-- End Details -->
      </div>
    </div>
    <!-- End Item -->

    <!-- Item -->
    <div class="card mb-3 mb-lg-0">
      <div class="card-body p-4">
        <!-- Details -->
        <div class="media">
          <div class="u-avatar mr-3">
            <img class="img-fluid" src="../../assets/img/160x160/img11.jpg" alt="Image Description">
          </div>

          <div class="media-body">
            <!-- Header -->
            <div class="mb-4">
              <h3 class="h6 mb-0">
                <a href="company-profile.html">Invision</a>
              </h3>

              <!-- Review -->
              <a class="d-inline-block small" href="#">
                    <span class="text-warning">
                      <span class="fas fa-star"></span>
                      <span class="fas fa-star"></span>
                      <span class="fas fa-star"></span>
                      <span class="fas fa-star"></span>
                      <span class="fas fa-star-half-alt"></span>
                    </span>
                <span class="text-dark font-weight-semi-bold ml-2">4.53</span>
                <span class="text-muted">(255k+ reviews)</span>
              </a>
              <!-- End Review -->
            </div>
            <!-- End Header -->

            <!-- Additional Info -->
            <div class="d-flex align-items-center">
              <div class="u-ver-divider pr-3 mr-3">
                <a class="font-size-1 text-secondary font-weight-medium" href="#">Salaries</a>
              </div>
              <a class="font-size-1 font-weight-medium" href="#">Open jobs</a>
            </div>
            <!-- End Additional Info -->
          </div>
        </div>
        <!-- End Details -->
      </div>
    </div>
    <!-- End Item -->

    <!-- Item -->
    <div class="card">
      <div class="card-body p-4">
        <!-- Details -->
        <div class="media">
          <div class="u-avatar mr-3">
            <img class="img-fluid" src="../../assets/img/160x160/img18.png" alt="Image Description">
          </div>

          <div class="media-body">
            <!-- Header -->
            <div class="mb-4">
              <h3 class="h6 mb-0">
                <a href="company-profile.html">Behance</a>
              </h3>

              <!-- Review -->
              <a class="d-inline-block small" href="#">
                    <span class="text-warning">
                      <span class="fas fa-star"></span>
                      <span class="fas fa-star"></span>
                      <span class="fas fa-star"></span>
                      <span class="fas fa-star"></span>
                      <span class="far fa-star"></span>
                    </span>
                <span class="text-dark font-weight-semi-bold ml-2">5.0</span>
                <span class="text-muted">(383 reviews)</span>
              </a>
              <!-- End Review -->
            </div>
            <!-- End Header -->

            <!-- Additional Info -->
            <div class="d-flex align-items-center">
              <div class="u-ver-divider pr-3 mr-3">
                <a class="font-size-1 text-secondary font-weight-medium" href="#">Salaries</a>
              </div>
              <a class="font-size-1 font-weight-medium" href="#">Open jobs</a>
            </div>
            <!-- End Additional Info -->
          </div>
        </div>
        <!-- End Details -->
      </div>
    </div>
    <!-- End Item -->
  </div>
  <!-- End Jobs -->
</div>
